extends layout

block content
  .container
    h1= title
    hr
    p Welcome to #{title}
    p
    h4 The greatest way to authenticate yourself!  #[a(href='/register') Signup] now!
    .row
      .col-md-6.col-md-offset-4
        img(src='http://iconshow.me/media/images/ui/ios7-icons/png/512/locked-outline.png')
